@tailwind base;
@tailwind components;
@tailwind utilities;


::-moz-selection {
    color: white;
    background: #9ACC50;
}

::selection {
    color: white;
    background: #9ACC50;
}

.stroke {
    text-shadow: -1px -1px 0 #9ACC50, 1px -1px 0 #9ACC50, -1px 1px 0 #9ACC50, 1px 1px 0 #9ACC50;
}

@supports (-webkit-text-stroke-width: 1px) {
    .stroke {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #9ACC50;
        text-shadow: none;
    }
}

@media (min-width: 768px) {
    .stroke {
        text-shadow: -3px -3px 0 #9ACC50, 3px -3px 0 #9ACC50, -3px 3px 0 #9ACC50, 3px 3px 0 #9ACC50;
    }

    @supports (-webkit-text-stroke-width: 3px) {
        .stroke {
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: #9ACC50;
            text-shadow: none;
        }
    }
}

@media (min-width: 1024px) {
    .stroke {
        text-shadow: -5px -5px 0 #9ACC50, 5px -5px 0 #9ACC50, -5px 5px 0 #9ACC50, 5px 5px 0 #9ACC50;
    }

    @supports (-webkit-text-stroke-width: 5px) {
        .stroke {
            -webkit-text-stroke-width: 5px;
            -webkit-text-stroke-color: #9ACC50;
            text-shadow: none;
        }
    }
}